
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

 body {
     background-color: rgba(68, 136, 59, 0.4);
 } 

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 9vh;
}

p { 
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    font-size: 3vh;
    color: rgb(255, 255, 255);

}



form  {
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    font-size: 4vh;
    margin-bottom: 4vh;
}



img {
    justify-content: center;
}

.one .two, .three, .four {
    display: none;
    
    width: 100%;
}

.one {
    background-image: url(img/one.png);
}
.two {
    background-image: url(img/two.png);
}
.three{
    background-image: url(img/three.png);
}

.four{
    background-image: url(img/four.png);
}



.dado {
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    width: 70%;
    margin-bottom: 50px;
}
.mesa{
    min-height: 68vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-image: url(img/panio.jpg);
    padding: 10%;
    position: relative;
}
@media (max-width: 640px ) {
    .dado{
        height: 20vh;
    } 
    
}



.resumenes {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around; 
}

.gap {
    min-width: 10%;
    background-color: rgba(250, 235, 215, 0);
}

@media (max-width: 640px) {
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 5vh;
    }
    form {
        font-size: 3vh;
    }
    .mesa {
        display: block;
    }
    .dado {
        width: 100%;
        flex:50%;
    }
    .mesa {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 390px) {
    .dado{
        height: 16vh;
    }
    
}
